.wrap {
  margin: 0 auto;
  width: 80%;
}

.header {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.logo {
  font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
  position: relative;
  padding-left: 44px;
}

.logo:hover {
  cursor: pointer;
}

.logo__circle {
  width: 28px;
  height: 28px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  background: #c8dbfb;
  left: 8px;
  top: 75%;
}

.logo__circle_color_blue:hover {
  animation: spin 5s linear infinite;;
}

@keyframes spin {
  from {
    transform: translateX(0px) translateY(0px);
  }
  to {
    transform: translateX(20px) translateY(0px);
  }
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu__item {
  margin-right: 26px;
  text-decoration: none;
  color: #000;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  position: relative;
  transition: opacity .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: .5s ease-in;
}

.menu__item:hover::after, .menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  background: top right no-repeat url(frame.svg);
  padding-bottom: 30%;
  padding-top: 40px;
  width: 100%;
}

.main__title {
  padding-right: 63%;
  font: bold 50px/66px 'PT Serif', arial, helvetica, sans-serif;
  margin: 0 0 38px 0;
}

.main__back-color {
  background-color: #ecf3ff;
}

.main__subtitle {
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  margin: 0 0 41px 0;
  padding-right: 68%;
}

.main__button {
  width: 209px;
  height: 44px;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  background: #0056ec;
  border-radius: 4px;
  color: #fff;
  padding: 13px 16px 14px 9px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .6;
  animation: glow 2s infinite alternate ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
    border-color: rgba(0,0,255,0.5);
  }
  100% {
    box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
    border-color: rgba(0,0,255,1.0);
  }
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(-45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu {
  visibility: visible;
}
.menu__btn {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 32px;
  left: 85%;
  width: 25px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}

@media (min-width:320px) and (max-width:480px) {
  .wrap {
    width: 88%;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -150%;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 186px 0;
    list-style: none;
    transition-duration: .25s;
  }

  .menu__btn {
    display: flex;
    visibility: visible;
  }

  #menu__toggle {
    display: none;
  }

  .logo__text {
    visibility: hidden;
  }

  .header {
    margin-bottom: 38px;
    padding: 20px 0 0 0;
  }

  .main {
    padding: 80% 0 0 0;
    background-size: 88%;
    background-position: top center;
    text-align: center;
  }

  .main__title {
    margin-bottom: 34px;
    font: bold 30px/40px 'PT Serif', arial, helvetica, sans-serif;
    padding: 0 10%;
  }

  .main__subtitle {
    margin-bottom: 25px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
    padding: 0 10%;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
  display: block;
  position: absolute;
  height: 3px;
  background-color: #0056ec;
  transition-duration: .25s;
  }

  .menu__btn > span::before {
  content: '';
  top: -8px;
  }

  .menu__btn > span::after {
  content: '';
  top: 8px;
  }
}

@media (min-width:481px) and (max-width:640px) {
  .wrap {
    width: 85%;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 186px 0;
    list-style: none;
    transition-duration: .25s;
  }

  .logo__text {
    visibility: hidden;
  }

  .header {
    margin-bottom: 38px;
    padding: 22px 0 0 0;
  }

  .main {
    padding: 83% 0 0 0;
    background-size: 85%;
    background-position: top center;
    text-align: center;
  }

  .main__title {
    margin-bottom: 40px;
    font: bold 30px/40px 'PT Serif', arial, helvetica, sans-serif;
    padding: 0 20%;
  }

  .main__subtitle {
    margin-bottom: 25px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
    padding: 0 25%;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056ec;
  transition-duration: .25s;
  }

  .menu__btn > span::before {
  content: '';
  top: -8px;
  }

  .menu__btn > span::after {
  content: '';
  top: 8px;
  }
}

@media (min-width: 641px) and (max-width:767px) {
  .wrap {
    width: 85%;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 186px 0;
    list-style: none;
    transition-duration: .25s;
  }

  .logo__text {
    visibility: hidden;
  }

  .header {
    margin-bottom: 38px;
    padding: 22px 0 0 0;
  }

  .main {
    padding: 83% 0 0 0;
    background-position: top center;
    background-size: 85%;
    text-align: center;
  }

  .main__title {
    margin-bottom: 44px;
    font: bold 35px/50px 'PT Serif', arial, helvetica, sans-serif;
    padding: 0 23%;
  }

  .main__subtitle {
    margin-bottom: 25px;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    padding: 0 30%;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056ec;
  transition-duration: .25s;
  }

  .menu__btn > span::before {
  content: '';
  top: -8px;
  }

  .menu__btn > span::after {
  content: '';
  top: 8px;
  }
}

@media (min-width: 768px) and (max-width:960px){
  .wrap {
    width: 90%;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main {
    background-size: 60%;
    padding-top: 20px;
  }

  .main__title {
    font: bold 35px/50px 'PT Serif', arial, helvetica, sans-serif;
    padding-right: 55%;
  }

  .main__subtitle {
    font: 500 16px/18px Roboto, arial, helvetica, sans-serif;
    padding-right: 65%;
  }
}

@media (min-width:961px) and (max-width:1024px) {
  .wrap {
    width: 90%;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main {
    background-size: 60%;
  }

  .main__title {
    font: bold 35px/50px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
}

@media (min-width:1025px) and (max-width:1280px) {
  .wrap {
    width: 90%;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  #menu__toggle {
    display: none;
  }

  .main {
    background-size: 55%;
    padding-top: 20px;
  }

  .main__title {
    font: bold 50px/66px 'PT Serif', arial, helvetica, sans-serif;
    padding-right: 50%;
  }

  .main__subtitle {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    padding-right: 63%;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
}

@media (min-width:1281px) and (max-width:1440px) {
  .wrap {
    width: 68%;
  }

  .header {
    padding-top: 33px;
    margin-left: -3px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  #menu__toggle {
    display: none;
  }

  .main {
    background-size: 56%;
    padding-top: 20px;
    margin-left: -3px;
  }

  .main__title {
    padding-right: 50%;
  }

  .main__subtitle {
    padding-right: 60%;
  }
}

@media (min-width:1441px) and (max-width:1600px){
  .header {
    margin-bottom: 150px;
  }

  .main {
    background-size: 52%;
    padding-top: 50px;
  }

  .main__title {
    padding-right: 50%;
    font: bold 66px/87px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: 500 22px/26px Roboto, arial, helvetica, sans-serif;
    padding-right: 63%;
  }

  .main__button {
    width: 270.75px;
    height: 57px;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  }
}

@media (min-width:1601px){
  .header {
    margin-bottom: 170px;
  }

  #menu__toggle {
    display: none;
  }

  .main {
    background-size: 52%;
    padding-top: 76px;
  }

  .main__title {
    padding-right: 50%;
    font: bold 66px/87px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: 500 22px/26px Roboto, arial, helvetica, sans-serif;
    padding-right: 69%;
  }

  .main__button {
    width: 270.75px;
    height: 57px;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  }
}
