@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.main__text {
  font-family: Roboto, sans-serif;
}

.menu__item {
  font-family: Roboto, sans-serif;
}

.main__button {
  font-family: Roboto, sans-serif;
}
